<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .btnContainer {
        display: flex;
        align-items: center;
        margin: 10px;
        justify-content: center;
        flex-direction: column;
        width: 350px;
    }

    .btn {
        padding: 10px;
        background: #8257e6;
        color: white;
        width: fit-content;
        border-radius: 6px;
        text-align: center;
        text-decoration: none;
    }
</style>

<div class="container">
    <h3>Olá {{name}},</h3>
    <br/>
    <strong>Clique no botão abaixo para resetar sua senha</strong>

    <div class="btnContainer">
        <a class="btn" href="{{link}}">Iniciar recuperação de senha</a>
        <p>O link expira em {{time}}.</p>
    </div>
    <br/>

    <strong>Se não foi você que solicitou a troca de senha, por favor desconsidere esse email</strong>
    <h3>Equipe | <strong>Proffy</strong></h3>
</div>